.profile{
    position: absolute;
    width: 100%;
    height: 100%;

    background: rgba(160, 160, 160, 0.2);
    display: grid;
    grid-template-columns:  320px auto;  
    grid-template-rows: 62px auto; 
}
.navbar{
    grid-row-start: 1;
    grid-column-start: 2;
}
.user-container{
    grid-row-start: 2;
    grid-column-start: 2;
    
    margin: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    
    display: block;
    text-align: center;
}

.user-container h2{
  margin-top: 30px;
  margin-bottom: 30px;

  padding-top: 50px;
  padding-bottom: 10px;

  color: #121F60;
  font-size: 50px;
  font-weight: bold;
}

.data .info{
    font-weight: lighter;
}

/* ACÁ COMIENZA MI CÓDIGO */
.contact_formg{  
  position: absolute;
  width: 480px; 
  left:45%;
  top:30%;
  background-color: #fbfbfb;
}


input{
  background-color: #fbfbfb; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #1C77CB; 
  padding-left: 10px;
  margin-bottom: 10px; 
}

.labelGU{
  display: block; 
  float: left;  
  font-size: 14px; 
  color: #0e0e0e; 
}
.p-userState{
  display: block; 
  float: left;  
}

.button-users{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px; 
  padding-top: 10px;  
  margin-bottom: 20px;   
  text-transform: uppercase;
  background-color: #121F60; 
  border-color: #121F60; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
  color: #fff; 
}
.button-users{
background-color: #D7C3FF; 
}
 
button p{
  color: #fff; 
}
button p:hover{
  color: #212121; 
}


span{
  color: #121F60; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e; 
  float: left; 
}

.p-users{
  font-size: 14px; 
  color: #0e0e0e; 
  display: block; 
  float: center;  
}

::-webkit-input-placeholder {
 color: #a8a8a8;
}

::-webkit-textarea-placeholder {
 color: #a8a8a8;
}

.formulario input:focus{
  outline:0;
  border: 1px solid #D7C3FF;
}


.formulario select:focus{
  outline:0;
  border: 1px solid #D7C3FF;
}
.buttonMaestro{
  height: 45px; 
  padding-left: 2px;
  padding-right: 2px;   
  text-transform: uppercase;
  background-color: #121F60; 
  border-color: #121F60; 
  border-style: solid; 
  border-radius: 10px;  
  width: 100px;   
  cursor: pointer;
  color: #fff; 
}
buttonMaestro:hover{
  background-color: #D7C3FF; 
  }


#img-registro-exitoso{
width: 100px;
} 

