/* Importación de fuentes de google fonts */ 

.contact_form{  
  position: absolute;
  width: 460px; 
  height: auto;
  margin-top: 80px;
  margin-left: 200px;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #1C77CB; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


select{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #1C77CB; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px;   
  color: #a8a8a8;
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px; 
  padding-top: 10px;  
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #121F60; 
  border-color: #121F60; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
  color: #fff; 
}
button:hover{
background-color: #D7C3FF; 
}


button p{
  color: #fff; 
}
button p:hover{
  color: #212121; 
}


span{
  color: #121F60; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}

p{
  font-size: 14px; 
  color: #0e0e0e; 
}

::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #D7C3FF;
}


.formulario select:focus{
  outline:0;
  border: 1px solid #D7C3FF;
}
